
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
/* color */
.text-orange {
  color: #FD6E0A;
}
.dark-2 {
  color: #474747;
}
.dark-1 {
  color: #181818;
}
.dark-3 {
  color: #757575;
}
/* Button */
.icon {
  max-height: 16px;
}
.icon2 {
  max-height: 16px;
  vertical-align: middle;
}
.btn-primary {
  background-color: #FD6E0A;
  padding: 18px 20px;
  font-weight: 700;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  justify-content: space-between;
  margin-right: auto;
 }
 .btn-primary:hover {
  background-color: #ff3300;
  color: white;
 }

 .btn-secondary {
  margin-left: 30px;
  border: 1px solid #FD6E0A;
  border-radius: 5px;
  color: #FD6E0A;
  padding: 18px 20px;
  font-weight: 700;
  font-size: 20px;
  background-color: #fff8f300;
  cursor: pointer;
 }
 .btn-secondary:hover {
  background-color: #FD6E0A;
  color: white;
 }
/* nav styles */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-logo {
font-weight: 800;
font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin-right: 50px;
  list-style: none;
  
}
nav ul li a {
  text-decoration: none;
  font-size: 20px;
}
.navlink {
  padding: 10px 20px;
}
.navlink:hover {
  background-color: #ffe5d2;
  padding: 10px 20px;
}
/* banner style */
.header-background{
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  margin: 0px 0px 0px 0px;
  background-position: top left, bottom right;
  background-color: #FFF8F3;
}
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0px 35px 0px 150px;
}
.banner-content {
  max-width: 580px;
}
.banner-greetings {
  font-size: 45px ;
  font-weight: 600;
  margin: 100px 0px 5px 0px;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-bottom: 50px;
  margin: 0px 0px 20px 0px;
}
.header-paragraph {
  color: #474747;
  font-size: 18px;
  font-weight: 400;
}
.banner-profile-pic {
  width: 580px;
}
/* main style */
.main-1 {
  max-width: 1080px;
  margin: 0px auto;
}
/* section background */
.about-section {
  background-color: #FFF8F3;
  border-radius: 10px;
  padding: 110px 150px 130px 150px;
  margin-top: 130px;
}
/* about style */
.section-title {
  text-align: center;
  font-size: 35px;
  font-weight: 800;
  color: #181818;
}
.section-description {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 24px;
}
.padding {
  padding: 0px 110px;
}
/* about-info style */
.about-infos {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.info-title {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 05px;
  color: #757575;
}
.info-description {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 800;
  color: #474747;
}
/* what i do section */
.what-i-do {
  margin-top: 130px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px 36px 30px 30px;
  margin-top: 50px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06)
}
.skill-description {
  line-height: 28px;
}
/* resume style */
.resume-title {
  margin-top: 130px;
}
.resume-container {
  display: flex;
  gap: 24px;
}
.resume-colum-title {
  font-size: 30px;
  font-family: 800;
}
.experience-title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 30px;
}
.experience-sub-title {
  font-size: 20px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 20px;
}
.experience {
  padding-right: 71px;
}
.experience-description {
  margin-top: 0px;
  line-height: 28px;
  margin-bottom: 30px;
}
.download-btn {
  margin-top: 50px;
  text-align: center;
}
/* footer style */
.footer-background {
  background-color: #FFF8F3;
  display: flex;
  padding: 80px 130px;
  gap: 117px;
  margin-top: 100px;
}
.footer-column {
  width: 60%;

}
.footer-title {
  text-align: left;
  font-size: 35px;
  font-weight: 800;
  color: #181818;
}
.footer-description {
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 24px;
}
.social-icon {
  display: flex;
}
.social-media-icon {
  margin-right: 30px;
}
.input {
  margin-bottom: 20px;
  padding: 30px 18px 30px;
  border-radius: 5px;
  width: 100%;
  border: none;
  display: block;
  font-size: 16px;
  font-weight: 400;
}